/* common elements */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body,
button{
    font-family: 'Mulish', sans-serif;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #1ed760;
}
h3{
    color: #919496;
    font-weight: 900;
    margin: 20px 0;
}

/* header */
header{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
header h1{
    align-self: center;
}
header h1 img{
    width: 132px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav span{
    color: #fff;
    margin-left: 35px;
}
header ul:last-child{
    margin-left: 10px;
}
header ul li{
    display: inline-block;
    margin-left: 25px;
}
header ul li a{
    font-weight: 700;
}


/* main */
.main{
    height: 969px;
    background: url('../images/main-bg.svg');
    background-size: 175%;
    background-position: 46% 4%;
    background-color: rgb(41, 65, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-inner *{
    color: #1ed760;
}
.main-inner div{
    font-size: 146px;
    font-weight: 900;
    position: relative;
}
.main-inner div:first-child{
    right: 200px;
}
.main-inner div:nth-child(2){
    left: 200px;
    margin-bottom: 40px;
}
.main-inner p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}
.main-inner button{
    background-color: #1ed760;
    color: rgb(41, 65, 171);
    border: none;
    width: 183px;
    padding: 14px 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
}
.main-inner button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* footer */
footer{
    height: 530px;
    background-color: black;
    padding: 80px 0 50px;
    box-sizing: border-box;
}
.f-inner{
    width: 1170px;
    margin: 0 auto;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.fnb{
    display: flex;
    justify-content: space-between;
}
.fnb div{
    margin-right: 50px;
}
.fnb div ul li{
    margin-bottom: 15px;
}
.fnb img{
    width: 132px;
    align-self: flex-start;
    margin-right: 50px;
}
.icon-area{
    justify-content: flex-end;
}
.icon-area ul{
    display: flex;
    justify-content: space-between;
}
.icon-area ul li{
    margin-left: 15px;
    background-color: #222322;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon-area ul li i{
    font-size: 24px;
    display: block;
    line-height: 50px;
    text-align: center;
}
.usa-area{
    color: #919496;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    color: #919496;
}
.footer-bottom ul li{
    display: inline-block;
    margin-right: 24px;
}
.footer-bottom ul li a{
    color: #919496;
}
.footer-bottom ul li a:hover{
    color: #1ed760;
}

